#auth_page{
  position: relative;
  z-index: 1;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0;
  background: url(../images/bg-auth.jpg) no-repeat 50% 50%/cover;
  &:after{
    content: "";
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top,rgba(9,14,22,0),rgba(9,14,22,.75));
    background: linear-gradient(180deg,rgba(9,14,22,0),rgba(9,14,22,.75));
  }
  @media screen and (max-width: 1200px){
    flex-direction: column;
  }
}

.auth{
  &__container{
    position: relative;
    z-index: 3;
    @media screen and (max-width: 992px){
      margin: 0 !important;
    }
  }
  &__wrapper{
    align-items: center !important;
  }
  &__form{
    min-width: 280px;
    box-shadow: none !important;
    padding: 3rem 0 !important;
    @media screen and (max-width: 992px){
      flex-direction: column;
      align-items: center;
    }
  }
  &__input{
    justify-content: center;
  }
  &__card{
    display: flex;
    flex-direction: column;
    height: auto !important;
    min-height: auto !important;
    padding: 3rem 1.5rem !important;
    border-radius: .5rem !important;
    &>.btn{
      &:last-child{
        border-radius: 0.8rem !important;
      }
    }
    &>form{
      &>.heading--sm{
        justify-content: center;
        margin-bottom: 1rem;
      }
    }
    .btn_wrapper .btn{
      position: relative;
      margin-bottom: 1rem;
    }
    @media screen and (max-width: 992px){
      max-width: 400px !important;
    }
    @media screen and (max-width: 576px){
      width: 100% !important;
    }

  }
  &__header-form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    color: $light;
  }
  &__main{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-right: 6rem !important;
    box-shadow: none !important;
    @media screen and (max-width: 992px){
      padding: 2rem 0  0 !important;
    }
  }
  &__field{
    margin-bottom: 1rem;
  }
  &__logo{
    width: 6rem;
    height: 6rem;
    @media screen and (max-width: 992px){
      width: 5rem;
      height: 5rem;
    }
  }
  &__title{
    margin-left: 6rem;
    margin-top: 0;
    font-family: $font-family;
    font-size: 10rem;
    font-weight: 300;
    color: $light;
    line-height: 1;
    @media screen and (max-width: 992px){
      margin: 2rem 0 0;
      font-size: 6rem;
    }
  }

  &__lang{
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    z-index: 100;
    width: auto;
    margin: 0;
    .lang-select .text{
      padding: 1rem;
    }
    @media screen and (max-width: 1200px){
      position: static;
      margin: 0 auto;
    }
  }
}

