%avatar{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $darken;
  font-weight: 700;
  background-color: $ground;
  overflow: hidden;
  text-transform: uppercase;
  img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.avatar{
  &--sm{
    @extend %avatar;
    min-width: $mini_avatar;
    width: $mini_avatar;
    height: $mini_avatar;
    border-radius: $mini_avatar/2;
    font-size: $small_text_size;
  }
  &--lg{
    @extend %avatar;
    width: $lg_avatar;
    height: $lg_avatar;
    border-radius: $lg_avatar/2;
    font-size: $heading_size;
    font-weight: 500;
  }
  &--square{
    img{
      width: 100%;
      height: 100%;
    }
  }
  &--horizontal{
    img{
      height: 100%;
      width: auto;
    }
  }
  &--vertical{
    img{
      width: 100%;
      height: auto;
    }
  }
  &__wrapper{

  }
  &__upload{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 3rem;
    font-weight: 300;
    &:hover, &:focus{
      color: $text_secondary;
    }
    .avatar__ico{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      fill: $light;
    }
    .avatar--lg{
      margin: 0 3rem 0 0;
      background-color: $darken;
    }
  }
}
