.btn{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  height: 4rem;
  min-width: 120px;
  border-radius: .8rem !important;
  border: 1px solid $dark;
  font-size: 1.4rem;
  font-weight: 700;
  text-shadow: none;
  text-transform: none;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transform: scale(1);
  transition: all $anim ease;
  &:active{
    transform: scale(0.95);
  }
  &:disabled, &--disabled{
    opacity: .8;
    cursor: default;
  }
  &:hover, &:focus{
    color: $light;
    background-color: $dark;
  }
  &--ghost{
    background-color: transparent;
  }
  &--red{
    background-color: $secondary !important;
    border-color: $secondary !important;
    color: $light !important;
    &:hover, &:focus{
      background-color: $secondary_hover !important;
      border-color: $secondary_hover !important;
    }
    &:disabled, &--disabled{
      &:hover, &:focus{
        background-color: $secondary !important;
        border-color: $secondary !important;
      }
    }
  }
  &--warn,
  &--warn:hover,
  &--warn:focus{
    background-color: $warning_btn !important;
    border-color: $warning_btn !important;
    color: $dark !important;
  }
  &--success,
  &--success:hover,
  &--success:focus{
    background-color: $success_btn !important;
    border-color: $success_btn !important;
    color: $light !important;
  }
  &--red_text{
    color: $secondary;
    fill: $secondary;
  }
  &--link{
    display: flex;
    justify-content: center;
    align-items: center !important;
    padding: 0;
    height: auto;
    min-width: 0;
    font-family: Gotham Pro,sans-serif;
    border: none !important;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    &:hover, &:focus{
      background-color: transparent;
      color: $secondary_hover;
    }
  }

  &--square{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    height: 2.4rem;
    width: 2.4rem;
    min-width: 2.4rem;
    border-radius: 3px !important;
    .icon{
      height: auto;
      margin: 0;
    }
  }
  &--disabled,
  &--disabled:focus,
  &--disabled:hover{
    border: none;
    background-color: transparent;
    cursor: default !important;
  }
  &--small{
    width: auto;
    max-width: 120px;
    min-width: 4rem;
    height: 3rem;
    padding: .5rem 1rem;
    border-radius: .3rem !important;
    font-size: 1.2rem;
  }
  &--with_ico{
    .ico{
      color: $light;
      fill: $light;
      margin-left: 1rem;
    }
  }
  &--more{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    border: none;
    background-color: transparent;
    color: $text_secondary;
    .ico{
      color: $text_secondary;
      fill: $text_secondary;
      margin-top: 0.5rem;
    }
    &:hover, &:focus{
      background-color: transparent;
      color: $secondary;
      .ico{
        color: $secondary;
        fill: $secondary;
      }
    }
  }
  &--visit{
    border: none !important;
    background-color: $accient_op;
    color: $accient;
    font-weight: 500;
    &:hover, &:focus{
      border: none !important;
      color: $light;
      background-color: $accient;
    }
  }

  &_wrapper{
    display: flex !important;
    flex-direction: column;
    align-items: stretch;
    .btn:not(:last-child){
      margin-bottom: 1rem !important;
    }
  }
  &_panel{
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end !important;
    .btn:not(:last-child){
      margin-right: 1rem !important;
    }
  }
}
