.comments{
  &__item{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    &:not(:last-child){
      border-bottom: 1px solid $ground;
    }
  }
  &__name{
    margin-bottom: 1rem;
    a{
      display: flex;
      color: $primary;
      .avatar--sm{
        margin-right: 1rem;
      }
    }
  }
  &__text{
  }
  &__mess-ico{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 4rem;
    color: $text_secondary;
    .ico{
      margin: 0 0 2rem;
      font-size: 10rem;
      line-height: 1;
      color: $ground;
    }
  }
  &__form{
    display: flex;
    margin-bottom: 2rem;
    .btn, .karma__input{
      height: 6rem;
    }
    .btn{
      width: 6rem;
      min-width: 6rem;
      border-radius: 0 0.8rem 0.8rem 0 !important;
      border-color: $ground;
      &:focus, &:hover{
        transform: scale(1);
        background-color: $dark;
        color: $light;
      }
      &:disabled{
        color: $text_secondary;
        background-color: $ground;
      }
    }
    .karma__input{
      margin: 0;
      border-radius: 0.8rem 0 0 0.8rem !important;
    }
  }
}
