#new-ask_page{
  .heading--upper{
    color: $text_secondary;
  }
  .btn--red{
    min-width: 170px;
    margin: auto;
  }
  .karma__column{
    border-right: 1px solid $ground;
    @media screen and (max-width: 1200px){
      flex: 1;
    }
  }
}

.currency{
  &__wrapper{}
  &__column{
    @media screen and (max-width: 1200px){
      flex: 1;
    }
    display: flex !important;
    flex-direction: column;
    border-right: 1px solid $ground;
    .heading--md{
      display: flex;
      align-items: center;
      margin-bottom: 3rem;
      .btn--link{
        cursor: pointer;
        margin-left: auto;
      }
    }
    .btn--red{
      align-self: center;
    }
    .cur{
      margin: 0 .5rem;
      text-transform: uppercase;
    }
    .statistic__total{
      border: none !important;
      margin-top: 0;
      padding: 0 0 2rem !important;
    }
  }
  &__hint{
    font-size: 1.2rem;
    margin: 2rem 0;
  }
  &__item{
    .cur{
      display: inline-block;
      width: 6rem;
    }
    .amount{
      font-weight: 400;
    }
  }
}