#detail_page{
  .btn_panel{
    min-height: 6rem;
    width: 100%;
    padding: 1rem 2rem;
    border-top: 1px solid $ground;
  }
  .btn_wrapper{
    align-items: flex-end;
  }
  .fullspace{
    max-height: calc(100% - 6rem);
  }
}

.deals{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.deals__column{
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
  .heading--md{
    width: 100%;
  }
  @media screen and (max-width: 809px){
    padding: 1.5rem !important;
  }
  @media screen and (max-width: 575px){
    padding: 0 !important;
  }
}
.deal{
  &__container{
    display: flex;
    flex-wrap: wrap;
  }
  &__wrapper{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 400px;
    min-height: 7rem;
    margin: 0 2rem 2rem 0;
    transition: all $anim ease;
    @media screen and (max-width: 575px){
      max-width: 100%;
    }
    &:hover{
      box-shadow: $shadow_hover;
    }
  }
  &__filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 6rem;
    @media screen and (max-width: 575px){
      flex-direction: column;
      align-items: flex-start;
    }
    .deal__title{
      flex: 1;
      @media screen and (max-width: 575px){
        margin-bottom: 1rem;
      }
    }
    .deal__input{
      flex: 0;
      min-width: 300px !important;
      &:focus{
        border-color: $secondary;
      }
    }
  }
  &__card{
    position: relative;
    width: 100% !important;
    border: 1px solid $ground !important;
    box-shadow: none !important;
    //box-shadow: 0 0 1px 0 rgba(238, 238, 245, 0.45), 1px 1px 1px 0 rgba(238, 238, 245, 0.45);
    .ico{
      position: absolute;
      top: .3rem;
      right: .3rem;
      display: block;
      height: $small_heading_size !important;
      width: $small_heading_size !important;
      margin: 0;
      font-size: $small_heading_size;
      font-family: Icons;
      color: $dark;
    }
    &.wating_for_acceptance{
      .ico{
        color: $warning_btn;
      }
    }
    &.in_progress{
      .ico{
        color: $warning_btn;
      }
    }
    &.cancalled{
      .ico{
        color: $ground;
      }
    }
    &.complete_normal{
      .ico{
        color: $success_btn;
      }
    }
    &.complete_ubnormal{
      .ico{
        color: $secondary;
      }
    }
  }
  &__content{
    padding: 1.5rem !important;
    display: flex;
    align-items: center;
  }
  &__title{
    color: $text_secondary;
    font-weight: 500;
    margin-bottom: 3rem;
  }
  &__name{
    font-weight: 500;
    margin: 0;
  }
  &__info{
    flex: 1;
    padding: 0 1.5rem;
    font-size: $small_text_size;
    white-space: nowrap;
  }
  &__sum{
    padding: 0.4rem 0.8rem;
    text-transform: uppercase;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    border-radius: 0.4rem;
    background-color: $secondary_op;
    color: $secondary_hover;
    font-size: $main_text_size;
    font-weight: 400;
    line-height: 2.1rem;
  }

  &__detail{
    .btn--more{
      width: 100%;
    }
  }
}

/*detail page*/
.detail{
  &__column{
    &.personal{
      @media screen and (min-width: 1200px){
        border-right: 1px solid $ground;
      }
    }
  }
  &__wrapper{
    align-items: center;
    .btn_wrapper{
      justify-content: center;
      align-items: center !important;
      .btn{
        margin: 0;
      }
    }
  }
  &__info{

  }
  &__credit{
    .heading--md{
      font-weight: 500;
    }
  }
  &__item{
    display: flex;
    flex-direction: column;
    font-size: $main_text_size;
    padding: 1rem 0;
    border-bottom: 1px solid $ground;
    &-date{
      color: $text_secondary;
      line-height: 2rem;
      margin-bottom: 1rem;
    }
    &-desc{
      flex: 1;
      .text--red, .text--accient{
        font-weight: 500;
      }
    }
  }
}

.credit{
  &__currency{
    text-align: center;
    width: 100%;
    padding: 1.2rem 1.6rem;
    text-transform: uppercase;
    font-size: $small_heading_size;
    font-weight: 500;
    line-height: 1.25;
    color: $secondary;
    background-color: $secondary_op;
    border-radius: 0.8rem;
  }
  &__info{
    display: flex;
    margin: 0 -2rem;
  }
  &__props{
    flex: 1;
    width: 33%;
    font-size: $main_text_size;
    margin: 2rem 0;
    padding: 0 2rem;
    &:not(:last-child){
      border-right: 1px solid $ground;
    }
  }
  &__label{
    font-size: $small_text_size;
    color: $text_secondary;
    margin-bottom: 1rem;
  }
}
