.fees{
  &__list{
    padding: 0;
  }
  &__item{
    align-items: center;
  }
  &__item, &__header{
    display: flex;
    width: 100%;
    border-bottom: 1px solid $ground;
    .num{
      text-align: center;
      padding: 1rem;
      width: 5%;
    }
    .title{
      padding: 1rem;
      width: 25%;
    }
    .perKB{
      padding: 1rem;
      width: 10%;
    }
    .fee{
      padding: 1rem;
      width: 15%;
    }
    .desc{
      padding: 1rem;
      flex: 1;
    }
  }
}
