@font-face {
  font-family: 'Gotham Pro';
  src: url(../fonts/GothamProLight.eot);
  src: url(../fonts/GothamProLight.eot?#iefix) format("embedded-opentype"),
       url(../fonts/GothamProLight.woff2) format("woff2"),
       url(../fonts/GothamProLight.woff) format("woff"),
       url(../fonts/GothamProLight.ttf) format("ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url(../fonts/GothamProRegular.eot);
  src: url(../fonts/GothamProRegular.eot?#iefix) format("embedded-opentype"),
       url(../fonts/GothamProRegular.woff2) format("woff2"),
       url(../fonts/GothamProRegular.woff) format("woff"),
       url(../fonts/GothamProRegular.ttf) format("ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url(../fonts/GothamProMedium.eot);
  src: url(../fonts/GothamProMedium.eot?#iefix) format("embedded-opentype"),
       url(../fonts/GothamProMedium.woff2) format("woff2"),
       url(../fonts/GothamProMedium.woff) format("woff"),
       url(../fonts/GothamProMedium.ttf) format("ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url(../fonts/GothamProBold.eot);
  src: url(../fonts/GothamProBold.eot?#iefix) format("embedded-opentype"),
       url(../fonts/GothamProBold.woff2) format("woff2"),
       url(../fonts/GothamProBold.woff) format("woff"),
       url(../fonts/GothamProBold.ttf) format("ttf");
  font-style: normal;
  font-weight: 700;
}
