.form{
  &--noconnection{
    .heading--sm{
      margin-bottom: 1rem;
    }
    .btn--link{
      display: inline-block;
      margin: 0 .5rem;
    }
  }
  &--request_pass{
    .btn--red{
      width: 100%;
      max-width: 100%;
    }
  }
}

.karma__form{
  span.btn{
    display: inline-flex;
  }
}
