
.karma{
  &__grid{
    min-height: 100%;
    margin: 0 !important;
    box-shadow: none !important;
  }
  &__wrapper{
    box-shadow: none !important;
    &--v{
      flex-direction: column !important;
      align-items: flex-start !important;
    }
    @media screen and (max-width: 1200px){
      flex-direction: column !important;
    }
  }
  &__inner{
    padding: 0 !important;
    box-shadow: none !important;
    &--fullspace{
      flex: 1;
    }
    &>.karma__grid{
      max-height: 100%;
    }
    .karma__wrapper{
      flex-direction: row !important;
    }
  }
  &__column{
    display: inline-flex !important;
    flex-direction: column;
    padding: 0 !important;
    &--scroll{
      .heading--md{
        min-height: 3rem;
      }
      @media screen and (min-width: 1200px){
        &>div,
        &>form{
          height: 0 !important;
          min-height: 100%;
          padding-bottom: 3rem !important;
          overflow-y: auto;
        }
      }
    }
    &>div,
    &>form{
      height: 100%;
      padding: 2rem !important;
      max-height: 100%;
    }
    @media screen and (max-width: 576px){
      padding: 0 !important;
    }
  }
}


.container{
  margin: 0 auto !important;
  padding: 0 1.5rem !important;
  width: 100%;
  @media screen and (max-width: 1200px){
    max-width: 1140px !important;
  }
  @media screen and (max-width: 992px){
    max-width: 960px !important;
  }
  @media screen and (max-width: 810px){
    max-width: 720px !important;
  }
  @media screen and (max-width: 576px){
    max-width: 540px !important;
  }
}

.vertical{
  flex-direction: column !important;
  align-items: flex-start !important;
}

.fullspace{
  flex: 1;
}

.one-line-block{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  p{
    margin: 0 !important;
  }
}