.header{
  display: flex;
  width: 100%;
  height: $width_sidebar;
  padding-left: $width_sidebar+2;
  padding-right: 2em;
  border-bottom: 1px solid $ground_op;
  @media screen and (max-width: 575px){
    background-color: $primary;
    padding: 0 1.5rem;
  }
  &__list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    margin-left: auto;
    list-style: none;
    padding: 0;
    @media screen and (max-width: 575px){
      margin-left: 0;
      flex: 1;
      width: 100%;
    }
    .logo{
      width: 4rem;
      height: 4rem;
      margin-right: auto;
    }
  }
  &__item{
    display: flex;
    align-items: center;
    height: 2rem;
    padding-left: 1rem;
    font-size: 1.2rem;
    color: $text_op;
    text-transform: uppercase;
    @media screen and (max-width: 575px){
      border: none !important;
    }
    &:not(:last-child){
      border-right: 1px solid $ground_op;
      padding-right: 1rem;
    }
    &--exit{
      padding-left: 2rem;
    }
    &--ico{
      border: none !important;
      @media screen and (max-width: 575px){
        padding: 0 !important;
      }
    }
    &--quotations{
      display: inline-flex;
      flex-wrap: wrap;
      max-width: 30rem;
      margin-right: auto;
    }
  }
  &__link{
    display: flex;
    align-items: center;
    text-transform: none;
    padding: 0 4rem !important;
    color: $text_secondary;
    transition: all $anim ease;
    @media screen and (max-width: 575px){
      padding: 0 !important;
    }
    .avatar--sm{
      margin-right: 1rem;
    }
    &:hover, &:focus{
      color: $primary;

    }
  }
  &__ico{
    fill: $primary;
    display: block;
  }
  &__avatar{
    margin-right: 1rem;
  }
  &__btn{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: .2rem;
    color: $text_op;
    transition: all $anim ease;
    &:hover, &:focus{
      color: $primary;
      outline: none;
      cursor: pointer;
    }
    .ico{
      margin-left: 1rem;
      fill: $secondary;
    }
  }
}
