.help{
  &__list{
    padding: 0;
  }
  &__item{
    display: flex;
    padding: 1rem 0;
    .step{
      display: block;
      width: 2rem;
    }
  }
  &__article{
    .btn{
      display: inline-flex;
      width: auto;
      margin-bottom: 2rem;
    }
  }
  &__image{
    display: block;
    min-width: 250px;
    max-width: 400px;
  }
}
