.history {
  &__table {
    .karma__cell{
      font-size: 1.4rem;
      vertical-align: text-top;
      b{
        font-weight: 500;
      }
    }
    .btn--more{
      width: 100%;
    }
  }
  &__row {
  }
  &__cell {
    &--header {
    }
    &--desc, &--desc div{
      text-align: left !important;
      justify-content: flex-start;
      word-break: break-word;
      .text--accient{
        white-space: nowrap;
      }
      p{
        margin-bottom: 0.5rem;
      }
    }
    &--block{
      text-align: right !important;
      @media screen and (max-width: 768px){
        text-align: left !important;
      }
    }
    &--date{
    }
  }
}
