%input {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 4rem;
  padding: 1.1rem 1.6rem;
  margin-bottom: 2rem;
  background-color: transparent;
  border: 1px solid $ground !important;
  border-radius: 0.8rem !important;
  font-family: "Gotham Pro", sans-serif;
  font-weight: 400;
  font-size: 1.4rem !important;
  transition: all $anim ease;
  box-shadow: none;
  box-sizing: border-box;
  &:focus {
    border-color: $secondary !important;
    outline: none;
  }
  &:disabled{
    background-color: $ground_op;
  }
}

.karma {
  &__field {
    position: relative;
    display: flex;
    flex-direction: column;
    .btn--link {
      position: absolute;
      top: 50%;
      right: 2rem;
      z-index: 10;
      transform: translate(0, -50%);
      color: $secondary;
      &:hover {
        color: $secondary_hover;
      }
    }
  }
  &__inputs-group {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.75rem 1rem;
    .karma__label{
      width: 100%;
      margin-left: .75rem;
      margin-bottom: 1rem;
    }
    .karma__field, .karma__slider {
      width: calc(50% - 1.5rem) !important;
      margin: 0 .75rem;
    }
    .karma__slider{
      margin: 2rem 0.75rem;
      padding: 1rem;
      .karma__label{
        left: 0;
      }
    }
    .karma__hint{
      margin-top: -1rem;
      padding: 0 1rem;
    }
    &--vertical{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 2rem;
      .karma__field{
        width: 100%;
      }
    }
  }
  &__label {
    color: $text_secondary !important;
    font-size: 1.2rem !important;
    margin-bottom: 0.5rem;
    &.required{
      position: relative;
      &:after{
        content: '*';
        position: absolute;
        top: 0;
        margin-left: 0.25rem;
        font-size: $heading_size;
        font-weight: bold;
        color: $secondary;
      }
    }
  }
  &__input {
    @extend %input;
    &[type=number]::-webkit-inner-spin-button,
    &[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &[type=number] {
      -moz-appearance: textfield;
    }
    &--ghost {
      border: none !important;
      margin: 0 !important;
      border-radius: 0;
      resize: vertical;
    }

  }
  &__inside-btn {
    position: absolute;
    right: 3rem;
    top: 3.3rem;
    z-index: 10;
    font-size: 1.2rem;
    color: $secondary;
    border: none;
    box-shadow: none;
    transition: all $anim ease;
    &:hover, &:focus {
      outline: none;
      color: $secondary_hover;
    }
  }
  &__file-input {
    position: relative;
    font-weight: 400;
    input[type='file'] {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }
    &:hover {
      color: $secondary_hover;
    }
  }
  &__checkbox, &__radio {
    margin-bottom: 1rem;
    input[type='checkbox'], input[type='radio'] {
      opacity: 0;
    }
    label {
      padding-left: 3rem !important;
      &:before, &:after {
        width: 2rem !important;
        height: 2rem !important;
        outline: none !important;
        border-color: transparent !important;
      }
      &:before {
        background-color: $ground !important;
      }
    }
    input:checked ~ label {
      &:before {
        background-color: $secondary !important;
      }
      &:after {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $light !important;
      }
    }
  }
  &__toggle {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 4rem;
    padding: 1.1rem 0;
    transition: all $anim ease !important;
    label {
      padding-left: 5rem !important;
      transition: all $anim ease !important;
      &:before, &:after {
        transition: all $anim ease !important;
      }
      &:before {
        width: 4rem !important;
        height: 2.2rem !important;
        background-color: $ground !important;
        border: 2px solid $ground !important;
      }
      &:after {
        top: 0.2rem !important;
        left: 0.2rem !important;
        width: 1.8rem !important;
        height: 1.8rem !important;
      }
    }

    &.ui.toggle.checkbox input:checked ~ .box,
    &.ui.toggle.checkbox input:checked ~ label {
      &:before {
        background-color: $secondary !important;
        border-color: $secondary !important;
      }
      &:after {
        left: 2rem !important;
      }
    }
  }
  &__radio {
    display: flex;
    align-self: center;
    margin-bottom: 2rem;
    label {
      height: 2rem;
      margin-bottom: 0;
      &:before, &:after {
        top: 0;
        bottom: 0;
        border: none !important;
      }
    }
    input:checked ~ label {
      &:before {
        background-color: $secondary !important;
      }
      &:after {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $light !important;
        color: $light !important;
      }
    }
  }
  &__select {
    &.ui.active.selection.dropdown,
    &.ui.active.selection.dropdown.menu {
      border-color: $secondary !important;
    }
  }

  &__slider{
    $handleWidth: 2.4rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100% !important;
    padding: 1rem $handleWidth;
    margin: 2rem 0 4rem;
    @media screen and (max-width: 575px){
      &:last-child{
        margin: 1rem 0 0 !important;
      }
    }
    &--dropdown{
      padding: 1rem $handleWidth/2;
      .dropdown.icon{
        color: $secondary;
      }
      @media screen and (max-width: 575px){
        padding: 1rem 0 !important;
      }
    }
    .ui.default.dropdown:not(.button)>.text, .ui.dropdown:not(.button)>.default.text{
      color: $primary;
    }
    &--market{
      @media screen and (max-width: 575px){
        padding: 1rem $handleWidth/2;
      }
      @media screen and (min-width: 575px){
        width: 50% !important;
        margin: 2rem 0;
      }
      @media screen and (min-width: 992px){
        width: 25% !important;
        margin-bottom: 0;
        padding: 1rem $handleWidth;
        &:first-child{
          padding-left: $handleWidth/2;
        }
        &:last-child{
          padding-right: 1rem;
        }
      }
      @media screen and (min-width: 1200px){
        padding: 1rem $handleWidth*1.5;
        &:first-child, &:last-child{
          padding: 1rem $handleWidth*1.5;
        }
        &:last-child{
          padding-right: 0;
        }
      }
    }

    &--contract{
      padding: 1rem 1.75rem;
      .karma__label{
        left: 0 !important;
      }
    }

    .karma__label{
      top: -$handleWidth;
      position: absolute;
      left: $handleWidth/2;
      @media screen and (min-width: 992px){
        left: $handleWidth;
      }
    }
    .karma__input{
      margin: 0;
    }
    /*slider*/
    .rc-slider{
      width: 100%;
      position: relative;
    }
    .rc-slider-handle{
      position: absolute;
      width: $handleWidth;
      height: $handleWidth;
      margin-top: -$handleWidth/2;
      margin-left: -$handleWidth/2;
      background-color: $secondary;
      border-radius: $handleWidth/2;
      border: none;

      &:after{
        content: '||';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $light;
        font-size: $small_text_size;
        font-weight: 700;
      }
      span{
        position: absolute;
        font-size: 1rem;
        display: block;
        width: 100%;
        text-align: center;
        bottom: -2rem;
      }
    }
    .rc-slider-rail, .rc-slider-track{
      position: absolute;
      top: -2px;
      height: 4px;
    }
    .rc-slider-rail{
      width: 100%;
      background-color: $ground;
    }
    .rc-slider-track{
      background-color: $secondary;
    }
  }
}

.ReactPasswordStrength {
  position: relative;
  &-input {
    @extend %input;
    margin-bottom: 1rem;
  }
  &-strength {
    &-bar, &-desc {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
  &.is-strength {
    &-0 .ReactPasswordStrength-strength-desc {
      color: $secondary;
    }
    &-1 .ReactPasswordStrength-strength-desc {
      color: $text_secondary;
    }
    &-2 .ReactPasswordStrength-strength-desc {
      color: $warning_text;
    }
    &-3 .ReactPasswordStrength-strength-desc {
      color: $success_btn;
    }
    &-4 .ReactPasswordStrength-strength-desc {
      color: $accient;
    }
  }
}

.hint {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  padding: 0 1.5rem;
  color: $text_secondary;
  font-size: $main_text_size;
  line-height: 4rem;
  width: 100%;
  transition: $anim/2;
}
