.item{
  padding-top: 1rem;
  border-top: 1px solid $ground;
  &__label{
    color: $text_secondary;
  }
  &__value{}
  &__prop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    font-size: $small_text_size;
    &--name{
      justify-content: flex-start;
    }
    .avatar--sm{
      margin-right: 2rem;
    }
    .sum{
      width: auto;
      font-weight: 500;
    }
    .btn--visit{
      width: 100%;
      max-width: 100%;
    }
  }
  &--history{
    .item__label{
      margin-right: 1rem;
      color: $text_secondary;
    }
    .item__prop{
      justify-content: flex-start;
      margin-bottom: 0.5rem;
      font-size: $main_text_size;
      &--desc{
        margin: 1rem 0;
      }
    }
  }
}

.sum{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  padding: 0.4rem 0.8rem;
  text-transform: uppercase;
  border-radius: 0.4rem;
  background-color: $secondary_op;
  color: $secondary_hover;
  font-size: $main_text_size;
  font-weight: 400;
  line-height: 2.1rem;
}
