.lang-select{
  min-width: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
  padding: 0 !important;
  .text{
    width: 100%;
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem 0 !important;
    white-space: nowrap;
    .flag{
      margin: 0.5rem 0 !important;
    }
  }
.ico--translate{
  font-size: $heading_size;
  line-height: 1;
  margin: 0;
}
  i.dropdown.icon{
    display: none;
  }
  &.ui.dropdown{
    border: none;
    background-color: transparent;
    color: $light !important;
    .menu {
      overflow: hidden;
      border: none;
      max-height: none !important;
      & > .item {
        padding: 0 !important;
      }
    }
  }
  &.ui.selection.visible.dropdown>.text:not(.default){
    color: $light !important;
  }

}
