html, body{
  margin: 0;
  font-size: 10px;
  font-family: Gotham Pro,sans-serif;
}
body{
  height: 100vh;
  overflow: hidden;
  @media screen and (max-width: 1200px){
    overflow: auto;
  }
}

button{
  font-family: $font-family !important;
}

#main_container{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  @media screen and (max-width: 1200px){
    overflow: auto;
  }
}

#root{
  display: flex;
  flex-direction: column;
  height: 100vh;
  @media screen and (max-width: 1200px){
    height: auto;
  }
}

.header{
  flex: 0;
  min-height: 6rem;
}
.content{
  flex: 1;
  height: calc(100% - 6rem);
}

.app-loading{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex: 1;
}

.qr__wrapper{
  display: block;
  text-align: center;
  margin: 2rem 0;
}

.version{
  position: fixed;
  top: 0;
  z-index: 10;
  color: $light;
  right: 0;
  padding: 0.5rem 1.5rem;
}
