#market_page{
  flex-direction: column;
  padding-right: 2rem;
  padding-left: $width_sidebar+2;
  @media screen and (max-width: 575px){
    padding-left: 2rem;
  }
}

.market{

  &__header{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    min-height: 10rem;
    @media screen and (max-width: 1200px){
      margin-top: 2rem;
      flex-direction: column;
    }
  }

  &__hint{
    margin-top: 1rem;
  }

  &__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    @media screen and (max-width: 1200px){
      width: 100% !important;
    }
    @media screen and (min-width: 1200px){
      padding-right: 3rem !important;
      .heading--md, .btn{
        margin: 2rem 0 0;
      }
    }
    @media screen and (max-width: 575px){
      padding: 1rem 0 2rem !important;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
    }
  }

  &__filters-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    padding: 1rem 0;
    @media screen and (max-width: 1200px){
      width: 100% !important;
    }
  }

  &__table{
    border: none !important;
    box-shadow: none !important;

    .karma__cell{
      border-left-width: 0 !important;

      &:not(:first-child){
        text-align: center;
      }
    }
    .btn--more{
      margin: auto;
    }

    /*fix style semantic-ui*/
    @media screen and (max-width: 767px) {

      .ui.karma__table:not(.unstackable) thead {
        display: flex !important;
      }

      .ui.karma__table:not(.unstackable) tbody {
        display: flex !important;
        flex-direction: column;
      }

      .ui.karma__table:not(.unstackable) tr {
        display: flex !important;
        flex-wrap: wrap;
        flex: 1;
      }
      .ui.karma__table:not(.unstackable) tr > td,
      .ui.karma__table:not(.unstackable) tr > th {

        &:first-child {
          display: flex !important;
          width: 100% !important;
          margin-bottom: 1rem;

          &:not(:first-child) {
            display: inline-flex !important;
            width: 25% !important;
            padding: 0 1rem !important;
          }
        }
      }

      .ui.karma__table:not(.unstackable) tr > th {
        &:first-child {
          display: none !important;
        }
      }
    }
  }

  &__cell{
    &--name{
      text-align: left !important;
      &.karma__cell--header{
        padding-left: 4.8rem !important;
      }
      a{
        display: flex;
        align-items: center;
        flex: 1;
        color: $primary;
        font-size: $small_heading_size;
        font-weight: 500;
      }

      .avatar--sm{
        margin-right: 2rem !important;
      }
    }
    &--term{
      text-align: right !important;
    }

    .btn--visit{
      margin: auto;
    }
  }
}
