%message{
  padding: 1.2rem 2rem;
  margin-bottom: 1.5rem;
  border-width: 1px;
  border-style: solid;
  border-radius: .8rem;
  font-size: 1.4rem;
  line-height: 1.5;
  box-shadow: none !important;
}
.ui.message, .message{
  &--warning{
    @extend %message;
    background-color: $warning !important;
    border-color: $warning_border;
  }
  &--success{
    @extend %message;
    background-color: $success !important;
    border-color: $success;
    color: $success_text;
  }
  &--danger{
    @extend %message;
    background-color: $secondary_op;
    color: $secondary_hover;
    border-color: $secondary_op;
  }
  &--confirm{
    .text--main{
      margin-bottom: 1rem;
    }
  }
}


.message__wrapper{
  .btn--red{
    display: inline-flex;

  }
}