

.modal {
  position: relative;
  z-index: 2;
  max-width: 46rem;
  width: 95%;
  background-color: $light;
  border-radius: 0.5rem;
  box-shadow: $shadow_hover;
  &.lg {
    max-width: 64rem;
  }

  &.xl {
    max-width: 96rem;
  }

  &--qr{
    .modal__content div{
      display: flex;
      flex-direction: column;
    }
  }

  &__wrapper {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    overflow-x: hidden;
    flex-wrap: wrap;

    .bg {
      z-index: 1;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $overlay;
      border: none;
      padding: 0;
      margin: 0;
      cursor: default;
    }
  }

  &__header, &__content, &__footer {
    position: relative;
    padding: 1.5rem;
  }
  &__header{
    border-bottom: $ground_op 1px solid;
  }
  &__footer{
    border-top: $ground_op 1px solid;
  }

  .verification-input {
    text-align: center;

    .form-control {
      display: inline-block;
      vertical-align: top;
      width: 35px;

      + .form-control {
        margin-left: 10px;
      }
    }
  }

  &__footer {
    position: relative;
    text-align: center;

    .btn-close {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
}


.modal{
  &--comment{
    .modal__header{
      justify-content: flex-start;
      .avatar--sm{
        margin-right: 1rem;
      }
      .btn--close{
        margin-left: auto;
      }
    }
    .modal__content{
      padding: 0 !important;
    }
  }
  &--terms_of_service{}
  &--many_actions{
    .modal__footer{
      display: flex;
      justify-content: space-between;
      .btn{
        margin: 0 !important;
      }
    }
  }
  &--message{
    .modal__content{
      padding: 0 !important;
    }
  }
  &__header{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 2rem !important;
  }
  &__content{
    padding: 2rem !important;
    font-size: 1.4rem !important;
    line-height: 1.5;
    p{
      margin-bottom: 0.5rem;
    }
  }
  &__footer{
    display: flex !important;
    justify-content: center;
  }
  &__actions{
    align-items: center;
  }
}
