.profile{
  &__column{
    border-right: 1px solid $ground;
    @media screen and (max-width: 809px){
      box-shadow: none !important;
      border-right: none;
      border-bottom: 1px solid $ground;
    }
    .heading--md{
      margin-bottom: 2rem;
    }
  }
  &__inner{
    @media screen and (max-width: 1200px){
      flex: 1;
    }
  }
  &__wrapper{
    @media screen and (max-width: 1200px){
      flex-wrap: wrap;
    }
  }
  &__footer{
    flex-direction: row !important;
    justify-content: flex-end;
    border-top: 1px solid $ground !important;
    box-shadow: none !important;
    padding: 1.5rem 3rem !important;
    @media screen and (max-width: 809px){
      padding: 1.5rem !important;
    }
    .btn:not(:last-child){
      margin-right: 2rem;
    }
  }
}

/*redefine semantic-ui styles*/
.ui.grid > .row > [class*="personal"].column,
.ui.grid > .row > [class*="profile__inner"].column{
  @media screen and (max-width: 1200px){
    width: 100% !important;
  }
}
.profile__inner .ui.grid > .row > [class*="profile__column"].column{
  @media screen and (max-width: 809px){
    width: 100% !important;
  }
}

.personal{
  align-items: center;
  &__wrapper{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
  }
  &__info{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__email, &__login{
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  &__email{
    color: $secondary;
  }
  &__rating{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .3rem .6rem;
    margin: 0 0 0 0.5rem;
    font-size: $small_text_size;
    line-height: 1;
    border-radius: 2rem;
    border: 2px solid $secondary;
  }
  &__id{
    margin-left: .5rem;
    padding: .3rem 1rem;
    color: $primary;
    background-color: $ground;
    border-radius: .3rem;
  }
  &__ltm{
    margin-left: .5rem;
    font-weight: 600;
  }
  &__referral-link{
    position: relative;
    margin: 1rem 0 2rem;
    .btn--link{
      word-break: break-word;
    }
    .ico--help{
      position: absolute;
      top: -0.5rem;
      right: -2rem;
      font-size: 1.5rem;
      transition: $anim;
      &:hover{
        color: $secondary;
      }
    }
  }
  &__login{
    color: $primary;
  }
  &__name{
    margin-bottom: 1rem;
  }
  &__verify{
    display: flex !important;
    margin: 0 0 0 0.5rem !important;
    align-items: center;
    justify-content: center;
  }
  &__hint{
    color: $text_secondary;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;

  }
  &__avatar{
    text-align: center;
    margin: 0 auto 3rem;
    position: relative;
    width: $lg_avatar;
    height: $lg_avatar;
    overflow: hidden;
    border-radius: $lg_avatar/2;
    .avatar--lg{
      display: inline-flex;
    }
  }
  .btn_wrapper{
    width: 100%;
    margin-top: auto;
    .btn{
      margin-bottom: 2rem;
    }
  }

  @media screen and (max-width: 1200px){
    border-bottom: 1px solid $ground;
    &__wrapper{
      flex-direction: row;
      height: auto;
    }
    &__info{
      flex: 1;
      align-items: flex-start;
    }
    &__avatar{
      margin: 0 2rem 0 0;
    }
    .btn_wrapper{
      margin: 0;
      max-width: 270px;
    }
  }
  @media screen and (max-width: 809px){
    .btn_wrapper{
      margin: 0;
      max-width: 175px;
    }
  }
  @media screen and (max-width: 575px){
    flex-direction: column;
    margin-top: 1rem;
    &__wrapper{
      flex-direction: column;
      align-items: center;
    }
    &__info{
      margin: 1rem 0;
      align-items: center;
    }
    &__email, &__login, &__avatar {
      margin: 0 0 1rem;
    }
    .btn_wrapper{
      max-width: 100%;
      align-items: center;
      margin-top: 2rem;
    }
  }
}

.info{
  &--contacts{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    .heading--md{
      margin-bottom: 3rem;
      &:not(:first-child){
        margin-top: 2rem;
      }
    }
  }
  &--compact{
    width: 100%;
    padding-top: 3rem;
    .props{
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      min-height: auto;
      &__label{
        padding-right: 2rem;
      }
      &__value{
        text-align: right;
      }
    }
    .credit__currency{
      margin-bottom: 2rem;
    }
  }
  &--main{
    min-height: 4rem;
  }
  &--bank{}
  &--about{}
  &--company{}
}
.props{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  min-height: 4rem;
  transition: all $anim ease;
  &__label{
    color: $text_secondary;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  &__value{
    font-size: 1.4rem;
    line-height: 1.5;
  }
  &--about{
    display: block;
    min-height: auto;
  }
}
.statistic{
  display: flex;
  flex-direction: column;
  .heading--md{
    margin-bottom: 3rem;
  }
  &__item{
    margin-bottom: 3rem;
    &:last-child{
      margin-bottom: auto;
    }
  }
  &__total{
    margin-bottom: 0;
    margin-top: auto;
    padding-top: 2rem;
    border-top: 1px solid $primary;
    .statistic__value{
      color: $secondary;
      .usd{
        display: inline-block;
        width: auto;
        margin-right: .75rem;
      }
    }
  }
  &__label{
    color: $text_secondary;
    margin-bottom: 0;
  }
  &__value{
    font-size: 2.4rem;
    line-height: 1.3;
    font-weight: 700;
  }

}
