.quotations {
  &__ico {
    position: absolute;
    right: 0;
    top: 0;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    height: 1.5rem;
    &.minus{
      color: $secondary;
    }
    &.plus{
      color: $success_btn;
    }
  }
  &__wrapper{
    margin-right: 2rem;
  }
  &__item {
    position: relative;
    display: flex;
    margin: 0 auto 0 0;
    min-width: 12rem;
    height: 1.5rem;
    padding-right: 1.5rem;
  }
  &__val {
    display: inline-block;
    font-weight: 700;
  }
  &__cur {
    display: inline-block;
    width: 3rem;
    margin-right: 1rem;
  }
}
