// Range slider

.rc-slider {
  position: relative;
  margin: 11px 0 25px;
  height: 4px;

  .rc-slider-rail {
    position: absolute;
    width: 100%;
    background-color: $ground;
    height: 4px;
    border-radius: 6px;
  }

  .rc-slider-track {
    position: absolute;
    left: 0;
    height: 4px;
    border-radius: 6px;
    background-color: $secondary;
  }

  .rc-slider-step {
    position: absolute;
    width: 100%;
    height: 4px;
    background: transparent;
  }

  .rc-slider-handle {
    position: absolute;
    margin-left: -12px;
    margin-top: -10px;
    width: 24px;
    height: 24px;
    cursor: ew-resize;
    border-radius: 50%;
    background-color: $secondary;
    touch-action: pan-x;

    &:focus {
      outline: none !important;
    }

    &:after {
      content: "|||";
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      margin-top: 1px;
      color: $light;
      line-height: 1;
      font-size: $small_text_size;
    }

    span {
      position: absolute;
      top: 100%;
      width: 100%;
      left: 0;
      margin-top: 5px;
      color: $text_secondary;
      font-size: 1rem;
      text-align: center;
    }
  }

  .rc-slider-mark {
    position: absolute;
    top: 18px;
    left: 0;
    width: 100%;
    font-size: $small_text_size;
  }
}
