#settings_page{
  .karma__column{
    border-right: 1px solid $ground;
  }
  .btn_panel{
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    border-top: 1px solid $ground;
  }
  .heading--sm{
    margin-right: 1rem;
    margin-bottom: 0;
  }
  .karma__field{
    max-width: 600px;
  }
}

.settings{
  &__block{
    margin-bottom: 4rem;
    .heading--md{
      margin-bottom: 2rem;
    }
    .heading--sm{
      font-weight: 300;
      color: $text_secondary;
    }
    &:first-child .heading--md{
      margin-bottom: 1rem;
    }
  }
  &__input-group{

  }
  &__avatar{
    position: relative;
    width: 8rem;
    height: 8rem;
    overflow: hidden;
    border-radius: 4rem;
    margin-right: 2rem;
  }
  &__field{
    margin-bottom: 0 !important;
  }
  &__input{
    margin-bottom: 2rem !important;
    font-size: 1.4rem !important;
  }
  &__list{
    &--multiFA{
      display: flex;
      flex-direction: column;
      padding-left: 5rem;
      .karma__radio{
        align-self: flex-start;
      }
    }
  }
}

.facebook_connect{
  display: flex;
  flex-wrap: wrap;
  .karma__label{
    display: block;
    width: 100%;
  }
  .btn--link{
    right: 0;
    bottom: 0;
    transform: none;
    margin-left: auto;
    &:hover, &:focus{
      color: $text_secondary;
    }
  }
}
