.sidebar{
  &__menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: $width_sidebar;
    margin: 0;
    padding: 0;
    background-color: $primary;
    transition: all $anim ease;
    @media screen and (max-width: 575px){
      &.false, &.true{
        justify-content: center;
        width: 100vw;
        height: 100vh;
      }
      &.false{
        z-index: -1;
        opacity: 0;
      }
      &.true{
        opacity: 1;
        z-index: 100;
      }
    }
  }
  &__item{
    display: block;
    width: 100%;
    &--logo{
      height: $width_sidebar;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width: $width_sidebar*0.66;
        height: $width_sidebar*0.66;
      }
    }
    &--exit{
      position: absolute;
      bottom: 2rem;
      left: 50%;
      font-size: $small_text_size;
      font-family: Gotham Pro, sans-serif;
      color: $text_secondary;
      fill: $secondary;
      transform: translate(-50%, 0);
      .exit-ico{
        margin-left: 1rem;
      }
    }
    &--lang{
      margin-top: auto;
      margin-bottom: 1rem;
      @media screen and (max-width: 575px){
        margin-top: 0;
      }
    }
  }
  &__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: $width_sidebar;
    width: 100%;
    color: hsla(0,0%,100%,.5);
    font-size:  1rem;
    transition: all $anim ease;
    @media screen and (max-width: 575px){
      height: 5rem;
      font-size: $small_heading_size;
      color: $light;
      font-weight: 500;
    }
    &:hover, &:focus{
      color: $light;
    }
    &.active{
      background-color: $ground_op;
      color: $light;
    }
  }
  &__ico {
    fill: $light;
    display: block;
    margin: 0 auto $width_sidebar/10;
    max-width: 100%;
    @media screen and (max-width: 575px){
      display: none;
    }
  }
}
