.spinner {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  line-height: 0;
  background-color: transparent;

  &--with_ground {
    background-color: $ground_op;
  }

  &--absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--inside {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform: none;
    span {
      background-color: $light !important;
    }
  }

  span {
    background-color: $secondary;
    height: 2rem;
    width: .2rem;
    margin: 0 .2rem;
    display: inline-block;
    animation: spin $anim*3 infinite ease-in-out;
    animation-delay: -1.2s;
    &:nth-child(2) {
      animation-delay: -1.1s;
    }
    &:nth-child(3) {
      animation-delay: -1.0s;
    }
    &:nth-child(4) {
      animation-delay: -0.9s;
    }
    &:nth-child(5) {
      animation-delay: -0.8s;
    }
  }
}

@keyframes spin {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
  }
}
