.tab{
  &__wrapper{
    &:not(:first-child){
      margin-top: 2rem;
    }
  }
  &__name, &__name:hover, &__name:focus{
    display: flex;
    justify-content: space-between;
    width: 100%;
    .ico{
      transform: rotateZ(-180deg);
      transition: all $anim ease;
    }
    &.true{
      .ico{
        transition-delay: $anim;
        transform: rotateZ(0deg);
      }
    }
  }
  &__content{
    overflow: hidden;
    height: auto;
    transition: all $anim ease;
    &.false{
      max-height: 0;
    }
    &.true{
      transition-delay: $anim;
      max-height: 1000px;
      .props:first-child{
        margin-top: 2rem;
      }
    }
  }
}