.karma {
  &__table {
    font-size: 1.4rem !important;
    line-height: 1.5;
    &-header{
      @media screen and (max-width: 767px){
        display: none !important;
      }
    }
    &--market{
      position: relative;
      flex: 1;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      .karma__table{
        &-header, &-body{
          display: flex;
          width: 100%;
        }
        &-header{
          position: absolute;
          z-index: 2;
          background-color: $light;
          border-bottom: 1px solid $ground;
          padding-right: 13px;
          .karma__table-cell{
            font-size: $small_text_size;
            color: $text_secondary;
            &.name{
              font-size: $small_text_size;
              color: $text_secondary;
              font-weight: 400;
              text-align: left;
              justify-content: flex-start;
              padding-left: 8rem;
            }
          }
        }
        &-body{
          position: relative;
          flex-direction: column;
          height: auto;
          max-height: 100%;
          padding-top: 4rem;
          overflow-y: auto;
        }
        &-footer{
          .btn{
            margin: auto;
          }
        }
        &-cell{
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1rem;
          height: 4rem;
          font-size: $main_text_size;
          &.w10{ width: 10%; }
          &.w15{ width: 15%; }
          &.w20{ width: 20%; }
          &.w30{ width: 30%; }
          &.w40{ width: 40%; }
          &.w50{ width: 50%; }
          &.name{
            justify-content: flex-start;
            a{
              display: flex;
              align-items: center;
              color: $primary;
              .avatar--sm{
                margin-right: 2rem;
              }
            }
            font-size: $small_heading_size;
            font-weight: bold;
          }
        }
        &-item{
          position: relative;
          display: flex;
          align-items: center;
          width: 100%;
          height: 5rem;
          min-height: 5rem;
          border-bottom: 1px solid $ground;
          .btn--small{
            min-width: 100px;
          }
          .text--red{
            margin: auto;
          }
        }
      }
    }
  }
  &__cell {
    padding: 1rem 1.2rem !important;
    text-align: center !important;
    font-size: $small_text_size;
    font-weight: 300 !important;
    line-height: 1.2;
    &:first-child{
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
    &--header {
      color: $darken !important;
    }
    .btn--red{
      margin: auto;
    }
    @media screen and (max-width: 767px){
      padding: 1rem 0 !important;
    }
  }
}
