.testnet{
  display: block;
  text-align: center;
  width: 100%;
  font-size: 1.4rem;
  line-height: 3rem;
  background-color: $primary;
  color: $text_hsla;
  @media screen and (max-width: 575px){
    position: relative;
    border-bottom: 1px solid $ground;
    line-height: 1.5;
  }
  a{
    color: $text_hsla;
    margin: 0 .5rem;
    text-decoration: underline;
    @media screen and (max-width: 575px){
      display: block;
    }
    &:hover{
      color: $light;
    }
  }
}

#main_container{
  height: calc( 100vh - 3rem);
  min-height: calc( 100vh - 3rem);
  @media screen and (max-width: 1200px){
    height: auto;
  }
}
