.toggler, .toggler:focus {
  width: 3rem;
  height: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  z-index: 999;
  padding: 0 !important;
  &:before,
  &:after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    left: 0;
    background-color: $light;
    position: absolute;
    transition: all 300ms;
    top: 0;
  }

  &:after {
    top: 100%;
  }

  .icon {
    display: block;
    width: 100%;
    height: 1px;
    border-top: $light 1px solid;
    transition: width 300ms;
  }

  &.true {
    .icon {
      width: 0;
    }

    &:before {
      top: 50%;
      transform: rotate(45deg)
    }

    &:after {
      top: 50%;
      transform: rotate(-45deg)
    }
  }
}
