.heading{
  &--sm, &--lg, &--md{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-family: $font-family;
    color: $primary;
    %status{
      display: inline-flex;
      font-size: $main_text_size;
      margin-left: auto;
    }
    .status{
      &--success{
        @extend %status;
        color: $success_btn;
      }
      &--new{
        @extend %status;
        color: $secondary;
      }
      &--warning{
        @extend %status;
        color: $warning_text;
      }
    }
  }
  &--sm{
    font-family: $font-family;
    line-height: 1.5;
    font-size: $small_heading_size;
  }
  &--lg{
    font-family: $font-family;
    font-size: $heading_size;
    line-height: 1.3;
    text-transform: uppercase;
  }
  &--md{
    font-family: $font-family;
    line-height: 1.3;
    font-size: $heading_size;
  }
  &--upper{
    text-transform: uppercase;
  }
}

.text{
  font-family: $font-family;
  &--main{
    line-height: 1.5;
    word-break: break-word;
    white-space: pre-wrap;
    font-size: $main_text_size !important;
  }
  &--red{
    font-family: $font-family;
    color: $secondary !important;
  }
  &--dark{
    color: $dark;
  }
  &--secondary{
    color: $text_secondary;
  }
  &--success{
    color: $success_btn;
  }
  &--warning{
    color: $warning_text;
  }
  &--long{
    word-break: break-all;
  }
  &--lowercase{
    text-transform: lowercase;
  }
  &--accient{
    font-weight: 400;
    color: $accient !important;
  }
  &--margin{
    margin: 0 0.5rem;
  }
}
