/*colors*/
$primary: #090e16;

$secondary: #b83331;
$secondary_op: rgba(184,51,49,.1);
$secondary_hover: #9a2b29;

$accient: #1e95e6;
$accient_op: rgba(30,149,230,.2);

$ground: #dee2e6;
$ground_op: rgba(161,169,184,.3);

$text_op: rgba(9,14,22,.5);
$text_hsla: hsla(0,0%,100%,.75);
$text_secondary: #868e96;

$light: #ffffff;
$dark: #212a3a;
$darken: #a1a9b8;

$warning: #fff3cd;
$warning_border: #ffeeba;
$warning_btn: rgb(255, 193, 7);
$success: #d6f3d6;
$success_text: #1b6419;
$success_btn: #34c131;
$warning_text: #ffc107;

$overlay: rgba(9,14,22,0.8);

/*animation*/
$anim: .3s;

/*sizes*/
$width_sidebar: 6rem;
$mini_avatar: 2.8rem;
$lg_avatar: 8rem;

$heading_size: 2.4rem;
$main_text_size: 1.4rem;
$small_heading_size: 1.6rem;
$small_text_size: 1.2rem;

/*fonts*/
$font-family: Gotham Pro,sans-serif;

/*shadows*/
$shadow_hover: 0 6px 24px 0 rgba(161,169,184,.3)!important;
