#voting_page{
  flex-direction: column;
  .btn-panel{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 6rem;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid $ground;
    padding: 0 2rem;
    .btn{
      margin-left: 1rem;
    }
  }
}

.voting{
  &__header{
    display: flex !important;
    flex: 0;
    width: 100%;
    min-height: 8rem;
    flex-direction: row;
    padding: 2rem !important;
    align-items: center;
    @media screen and (max-width: 810px){
      flex-direction: column;
      flex: none;
      align-items: flex-start;
    }
  }
  &__proxy{
    display: flex;
    align-items: center;
    margin-left: auto;
    @media screen and (max-width: 810px){
      width: 100%;
      margin-bottom: 2rem;
    }
  }
  &__filter{
    margin-left: 4rem;
    min-width: 25rem;
    @media screen and (max-width: 810px){
      width: 100%;
      margin-left: 0;
    }
  }
  &__content{
    flex: 1;
    box-shadow: none !important;
    div{
      max-height: 100% !important;
    }
    .voting__checkbox, .proxy__lock{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      margin: 0 auto;
      label{
        width: 2rem;
        height: 2rem;
      }
    }
  }
  &__modal{
    .modal__footer{
      justify-content: space-between;
    }
  }
  &__table{
    position: relative;
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    &-header, &-body{
      position: absolute;
      display: flex;
      width: 100%;
    }
    &-header{
      z-index: 2;
      background-color: $light;
      border-bottom: 1px solid $ground;
      padding-right: 13px;
      .voting__table-cell{
        font-size: $small_text_size;
        color: $text_secondary;
        &.num, &.name, &.votes{
          font-size: $small_text_size;
          font-weight: normal;
        }
      }
    }
    &-body{
      height: 100%;
      flex-direction: column;
      padding-top: 4rem;
      overflow-y: scroll;
    }
    &-cell{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      height: 4rem;
      font-size: $main_text_size;
      &.num{
        width: 10%;
      }
      &.name{
        justify-content: flex-start;
        a{
          display: flex;
          align-items: center;
          color: $primary;
          .avatar--sm{
            margin-right: 2rem;
          }
        }
        width: 15%;
        font-size: $small_heading_size;
        font-weight: bold;
      }
      &.about{
        width: 15%;
        .btn--red{
          min-width: 100px;
        }
      }
      &.status{
        width: 15%;
      }
      &.votes{
        width: 15%;
        font-size: $small_heading_size;
        font-weight: bold;
      }
      &.support{
        width: 15%;
      }
      &.toggle_vote{
        width: 10%;
      }
    }
    &-item{
      display: flex;
      align-items: center;
      height: 5rem;
      min-height: 5rem;
      border-bottom: 1px solid $ground;
    }
  }
  &__input, &__checkbox{
    margin: 0;
  }
  &__field{
    @media screen and (max-width: 810px){
      width: 100%;
    }
  }
  &__checkbox{
    min-width: auto !important;
    margin-right: 2rem;
  }
}

.proxy__lock{
  color: $accient;
  font-size: 2rem !important;
}
