/*redefine semantic-ui styles*/
.ui.grid > .wallet__wrapper > [class*="karma__column"].column{
  @media screen and (max-width: 809px){
    width: 100% !important;
  }
}

.wallet__wrapper{
  flex-direction: row !important;
  @media screen and (max-width: 809px){
    flex-direction: column !important;
  }
}

.currency{
  &__block{
    margin-top: 2rem;
    padding: 0;
  }
  &__item{
    display: flex;
    align-items: center;
    padding: 1rem 0;
    text-transform: uppercase;
    border-bottom: 1px solid $ground;
    .btn_wrapper{
      margin-left: auto;
      flex-direction: row;
      .btn--square{
        margin: 0 .5rem !important;
        &:last-child {
          margin-right: 0 !important;
        }
      }
      .icon{
        font-size: 1.4rem;
      }
    }
  }
}