<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script type="text/javascript">
        var _jipt = []
        _jipt.push(['project', 'karmatrust']);
        _jipt.push(['preload_texts', true]);
    </script>
    <script type="text/javascript" src="//cdn.crowdin.com/jipt/jipt.js"></script>
</head>
<body>
<div id="root">
    <div class="app-loading">
        <div class="spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
</body>
</html>
